satellite_field_monitoring/satellite_field_monitoring/__pycache__/satellite.cpython-311.pyc
satellite_field_monitoring/satellite_field_monitoring/__pycache__/__init__.cpython-311.pyc
satellite_field_monitoring/satellite_field_monitoring/services/__pycache__/satellite.cpython-311.pyc
